body{
    background-color: azure;
    width: 1200px;
    padding: 0 147px;
    margin: 0 auto;
    }
    ul{
    list-style: none;
    margin: 0;
    padding: 0;
    }
    a{
    text-decoration: none;
    }
    .header-list{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 555px;
    }
